---
layout: layouts/base.njk
---
<h1>Hackmerced Archives</h1>
<h2>What is this?</h2>
<p>This is hackmerced's archive site, visit past hackmerceds below. It is WIP</p>
<h2>HackMerceds</h2>
<a href="/II">Hackmerced II (Feburary 10 - 12, 2016)</a>