---
layout: layouts/base.njk
---
<h1>Hackmerced Archives</h1>
<h2>What is this?</h2>
<p>This is hackmerced's archive site, visit past hackmerceds below. It is WIP</p>
<h2>HackMerceds</h2>
<ul>
    <li>
        <a href="/VIII">Hackmerced VIII (March 3 - 5, 2023)</a>
    </li>
    <li>
        <a href="/VII">Hackmerced VII (March 4 - 6, 2022)</a>
    </li>
    <li>
        <a href="/VI">Hackmerced VI (March 12 - 14, 2021)</a>
    </li>
    <li>
        <a href="/V">Hackmerced V (February 28th - March 1st, 2020)</a>
    </li>
    <li>
        <a href="/IV">Hackmerced IV (February 28th - March 1st, 2019)</a>
    </li>
    <li>
        <a href="/III">Hackmerced III (September 29 - October 1, 2017)</a>
    </li>
    <li>
        <a href="/II">Hackmerced II (Feburary 10 - 12, 2017)</a>
    </li>

</ul>